<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="LOG_HOME" value="." />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/gymsuedoise-booker.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>gymsuedoise-booker-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, 
				but at most 20GB -->
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>2</maxHistory>
			<totalSizeCap>20MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<!-- Send logs to both console and file audit -->
	<logger name="com.simondevineau.gymsuedoise.booker" level="trace">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="debug">
		<appender-ref ref="FILE-ERROR" />
	</root>

</configuration>
